.section {
  min-height: 25vh;
  padding: $spacingL*2 $spacingL $spacingL;
  position: relative;
  .content {
    position: relative;
    z-index: 1;
  }
}

.section--no-space {
  margin: 0;
  padding: 0;
}

.section__title {
  color: white;
  font-family: $fontHeadings;
  font-weight: 700;
  font-size: 8rem;
  right: 0;
  line-height: 1;
  margin: 0;
  opacity: 0.2;
  padding: $spacingM $spacingL;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.section__attribution {
  bottom: 0;
  color: white;
  font-size: 0.8rem;
  padding: $spacingM $spacingL;
  position: absolute;
  margin: 0;
  opacity: 0.2;
  right: 0;
  text-transform: lowercase;
}
