.weather {
  background: $earthLight;
  .content {
    display: flex;
    justify-content: center;
  }
}

.weather__temperature {
  cursor: pointer;
  h2 {
    background: rgba(white, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 0;
    min-width: 350px;
    padding: $spacingL*1.5;
    .temp {
      align-items: center;
      display: flex;
      font-size: $fontM;
      height: 15%;
      opacity: 0.5;
      justify-content: center;
      transition: all 0.3s ease;
    }
  }
}

.weather__temperature--f {
  .temp {
    &:first-child {
      font-size: $fontL*4;
      height: 85%;
      opacity: 1;
    }
  }
}

.weather__temperature--c {
  .temp {
    &:last-child {
      font-size: $fontL*4;
      height: 85%;
      opacity: 1;
    }
  }
}

.weather__details {
  color: white;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 $spacingL;
  p {
    font-weight: 300;
    opacity: 0.75;
  }
}
