// Colors
// $skyDark: #43578c;
// $skyLight: #90acf3;
// $earthLight: #8dbb95;
// $earthMedium: #a6a2a2;
// $earthDark: #976571;
// $earthDarker: #503139;
// $earthDarkest: #301c21;
$skyDark: #536ba8;
$skyLight: #849cdb;
$earthLight: #81b488;
$earthMedium: #947c7c;
$earthDark: #916161;
$earthDarker: #64434b;
$earthDarkest: #2e1b20;
$greyDark: #333;

// Spacing
$spacingS: 1.2rem;
$spacingM: 1.6rem;
$spacingL: 3.2rem;
$spacingXL: 4.8rem;
$spacingXXL: 10.5rem;

// Font family
$fontBody: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHeadings: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes
$fontS: 1.4rem;
$fontM: 1.6rem;
$fontL: 1.8rem;
