.section {
  position: relative;
  .content {
    position: relative;
    z-index: 1;
  }
}

.section--spacing {
  min-height: 25vh;
  padding: $spacingL*2 $spacingS $spacingS;
  @include media(">tablet") {
    padding: $spacingL*2 $spacingL $spacingL;
  }
}

.section--bg-sky-dark {
  background-color: $skyDark;
}
.section--bg-sky-light {
  background-color: $skyLight;
}
.section--bg-earth-light {
  background-color: $earthLight;
}
.section--bg-earth-medium {
  background-color: $earthMedium;
}
.section--bg-earth-dark {
  background-color: $earthDark;
}
.section--bg-earth-darker {
  background-color: $earthDarker;
}
.section--bg-earth-darkest {
  background-color: $earthDarkest;
}

.section__title {
  color: white;
  font-family: $fontHeadings;
  font-weight: 700;
  font-size: 6rem;
  right: 0;
  line-height: 1;
  margin: 0;
  opacity: 0.2;
  padding: $spacingM $spacingM;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  @include media(">tablet") {
    font-size: 8rem;
    padding: $spacingM $spacingL;
  }
}

.section__attribution {
  bottom: 0;
  color: white;
  font-size: 1.2rem;
  padding: $spacingM $spacingL;
  position: absolute;
  margin: 0;
  opacity: 0.2;
  right: 0;
  text-transform: lowercase;
  @include media(">tablet") {
    font-size: 0.8rem;
  }
}
