.section {
  position: relative;
  .content {
    margin-bottom: $spacingS;
    position: relative;
    z-index: 1;
    @include media(">tablet") {
      margin-bottom: $spacingL;
    }
  }
}

.section--spacing {
  min-height: 25vh;
  padding: $spacingL*3 $spacingS $spacingL;
  @include media(">tablet") {
    padding: $spacingXXL $spacingL $spacingL;
  }
}

.section--bg-sky-dark {
  background: $skyDark;
  background: linear-gradient(to bottom, darken($skyDark, 5%) 0%, $skyDark 100%);
}
.section--bg-sky-light {
  background: $skyLight;
  background: linear-gradient(to bottom, darken($skyLight, 5%) 0%, $skyLight 100%);
}
.section--bg-earth-light {
  background: $earthLight;
  background: linear-gradient(to bottom, darken($earthLight, 5%) 0%, $earthLight 100%);
}
.section--bg-earth-medium {
  background: $earthMedium;
  background: linear-gradient(to bottom, darken($earthMedium, 5%) 0%, $earthMedium 100%);
}
.section--bg-earth-dark {
  background: $earthDark;
  background: linear-gradient(to bottom, darken($earthDark, 5%) 0%, $earthDark 100%);
}
.section--bg-earth-darker {
  background: $earthDarker;
  background: linear-gradient(to bottom, darken($earthDarker, 5%) 0%, $earthDarker 100%);
}
.section--bg-earth-darkest {
  background: $earthDarkest;
  background: linear-gradient(to bottom, darken($earthDarkest, 5%) 0%, $earthDarkest 100%);
}

.section__title {
  color: white;
  font-family: $fontHeadings;
  font-weight: 700;
  font-size: 6rem;
  right: 0;
  line-height: 1;
  margin: 0;
  opacity: 0.2;
  padding: $spacingM $spacingM;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  @include media(">tablet") {
    font-size: 8rem;
    padding: $spacingM $spacingL;
  }
}

.section__attribution {
  bottom: 0;
  color: white;
  font-size: 1.2rem;
  padding: $spacingM $spacingL;
  position: absolute;
  margin: 0;
  opacity: 0.2;
  right: 0;
  text-transform: lowercase;
  @include media(">tablet") {
    font-size: 0.8rem;
  }
}
