.videos {
}

.videos__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
  @include media(">tablet") {
    flex-direction: row;
    margin: 0;
  }
}

.videos__video {
  cursor: pointer;
  flex: 1 0 100%;
  margin: 0 auto 2rem;
  position: relative;
  width: 100%;
  &:hover {
    .videos__title {
      opacity: 1;
    }
  }
  @include media(">tablet") {
    margin: 1rem;
    flex-basis: calc(50% - 2rem);
  }
}

.videos__image {
  background: transparent none center center no-repeat;
  background-size: cover;
  width: 100%;
  &:before {
    content: "";
    display: block;
    padding-bottom: 56.25%;
  }
  img {
    display: none;
  }
}

.videos__title {
  background: rgba(black, 0.75);
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0;
  opacity: 1;
  padding: $spacingM $spacingL;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
  width: 100%;
  @include media(">tablet") {
    opacity: 0;
  }
}
