// Colors
// $skyDark: #43578c;
// $skyLight: #90acf3;
// $earthLight: #8dbb95;
// $earthMedium: #a6a2a2;
// $earthDark: #976571;
// $earthDarker: #503139;
// $earthDarkest: #301c21;
$skyDark: #43578c;
$skyLight: #6e88ca;
$earthLight: #5f9668;
$earthMedium: #867676;
$earthDark: #774854;
$earthDarker: #44282f;
$earthDarkest: #2c191e;
$greyDark: #333;

// Spacing
$spacingS: 1.2rem;
$spacingM: 1.6rem;
$spacingL: 3.2rem;
$spacingXL: 4.8rem;

// Font family
$fontBody: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontHeadings: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font sizes
$fontS: 1.4rem;
$fontM: 1.6rem;
$fontL: 1.8rem;
